<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Bible Notes" />
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('output_css') }}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css" >


</head>

<body>
    <div class="justify-self-center">
        <div>
            <h1 class="bg-blue-600">Hello world</h1>
        </div>
        <div>
            <h2>My name is Judah</h2>
        </div>
    </div>
</body>